@use "design-system/mixins" as *;
@use "design-system/tokens" as *;

.container {
	display: flex;
	flex-direction: column;
	gap: $space-3;

	.textArea {
		@include text-input;
		min-height: 6.25rem; // 100px

		&:disabled {
			@include input-disabled;
		}
	}
}