@use "sass:map";
@use "../functions/helpers" as *;
@use "../tokens/colors" as *;

$light-theme: (
	// Backgrounds
	// background-primary: linear-gradient(
	// 		135deg,
	// 		#f9fafb 0%,
	// 		#ffffff 50%,
	// 		#f3f4f6 100%
	// 	),
	background-primary: linear-gradient(
		135deg,
		#fdf2f8 0%,
		#fed7aa 50%,
		#f9fafb 100%
	),
	background-card: color(white-alpha-40),
	background-card-hover: color(white-alpha-60),

	// Borders
	border-card: color(gray-200),
	border-card-hover: color(gray-300),

	// Text
	text-primary: color(gray-800),
	text-secondary: color(gray-500),
	
	// Gradients
	gradient-primary: map.get($gradients, primary-light),
	gradient-primary-hover: map.get($gradients, primary-light-hover)
);
