@use "../../design-system/mixins/base" as *;
@use "../../design-system/mixins/effects" as *;
@use "../../design-system/functions/helpers" as *;

.iconButton {
	@include button-base;
	@include glass-morphism;

	padding: space(3);
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		@include glass-morphism-button-hover;
	}
}

.icon {
	display: inline-block;
	transition: transform 0.5s ease;
  }