@use "sass:map";
@use "../tokens/colors" as *;
@use "../tokens/spacing" as *;
@use "../functions/helpers" as *;
@use "../tokens/layout" as *;
@use "./typography" as *;

@mixin button-base {
	border-radius: radius(2xl);
	padding: space(4) space(8);
	color: color(white);
	@include typography-button;
	cursor: pointer;
	transition: effect("transition-normal");

	&:hover {
		background: var(--color-gradient-primary-hover);
		transform: scale(effect("scale-hover"));
	}

	&:active {
		transform: scale(0.98);
	}
}
