// Theme Token Constants
// Backgrounds
$TOKEN_BACKGROUND_PRIMARY: 'background-primary';
$TOKEN_BACKGROUND_CARD: 'background-card';
$TOKEN_BACKGROUND_CARD_HOVER: 'background-card-hover';
$TOKEN_BACKGROUND_INPUT: 'background-input';
$TOKEN_BACKGROUND_SECONDARY: 'background-secondary';


// Borders
$TOKEN_BORDER_CARD: 'border-card';
$TOKEN_BORDER_CARD_HOVER: 'border-card-hover';

// Text
$TOKEN_TEXT_PRIMARY: 'text-primary';
$TOKEN_TEXT_SECONDARY: 'text-secondary';

// Gradients
$TOKEN_GRADIENT_PRIMARY: 'gradient-primary';
$TOKEN_GRADIENT_PRIMARY_HOVER: 'gradient-primary-hover'; 