// @use '../tokens/colors';

$palette: (
	white: #ffffff,
	gray-50: #f9fafb,
	gray-100: #f3f4f6,
	gray-200: #e5e7eb,
	gray-500: #6b7280,
	gray-700: #374151,
	gray-800: #1f2937,
	gray-900: #111827,

	blue-500: #3b82f6,
	green-500: #10b981,
);

$theme-dark: (
	surface: map-get($palette, gray-900),
	surface-card: map-get($palette, gray-800),
	text: map-get($palette, white),
	text-muted: map-get($palette, gray-200),
);