@use '../tokens/colors' as *;
@use 'sass:map';

$theme-dark: (
	surface: map.get($palette, gray-900),
	surface-card: map.get($palette, gray-800),
	text: map.get($palette, white),
	text-muted: map.get($palette, gray-200),
);