@use "design-system/mixins" as *;
@use "design-system/themes/dark" as *;
@use "design-system/themes/light" as *;

.storybook-dark-container {
	background: var(--color-background-primary);
	min-height: 100vh;
	padding: 1rem;
	
	// Apply dark theme variables
	@include generate-theme-vars($dark-theme);
}

.storybook-light-container {
	background: var(--color-background-primary);
	min-height: 100vh;
	padding: 1rem;

	// Apply light theme variables
	@include generate-theme-vars($light-theme);
}