@use "design-system/mixins" as *;
@use "design-system/themes/dark" as *;

.storybook-dark-container {
	background: var(--color-background-primary);
	min-height: 100px;
	padding: 1rem;
	
	// Apply dark theme variables
	@include generate-theme-vars($dark-theme);
  }